/* TightSpacingInput.css */
.tight-spacing-input {
  /*margin-bottom: 8px; /* Adjust the margin as needed */
  padding: 12px 10px;
  /* Adjust the padding as needed */
  width: 100%;
  margin-bottom: 16px;
}
